<footer class="page-footer font-small pt-4">
    <div class="footer-copyright text-center py-3">
        <p><img class="logo-footer" src="{{ asset('img/logo.png') }}" alt="logo"></p>
        &copy;Bucket-List {{ "now"|date("Y")  }}
        <p class="mb-2">By Fabian Alexis (https://github.com/fabianalexisinostroza/Antu) [<a href="https://creativecommons.org/licences/by-sa/3.0">CC BY-SA</a>],<a href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia Commons</a></p>
    </div>
</footer>
